__pycache__/
*.py[cod]
*.egg-info/
*.log
db.sqlite3
venv/
.env
.env.*
.vscode/
.idea/
.DS_Store
Thumbs.db
__temp__/
__backup__/
*.orig
*.tmp
*.bak
node_modules/
docker-compose.override.yml
staticfiles/
media/
static/
tmp/
htmlcov/
.coverage
.pytest_cache/
.tox/