{% load django_htmx %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{{ page.title }}| OREFOX</title>

        {% htmx_script %}

        {% vite_hmr_client %}
        {% vite_asset 'static/js/main.js' %}
    </head>
    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        <div>{% include "./navigation/layout.html" %}</div>
        {% if messages %}
            {% for m in messages %}<div>{{ m }}</div>{% endfor %}
        {% endif %}
        <!-- !! -->
        <div id="main-content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
